

{% extends "Auth/user/base.html" %}

{% block title %}Home page{% endblock %}

{% block content %}

<div class="index-table">
    
    <table class="table table-bordered table-striped">
        <thead class="thead-dark text-center">
            <tr>
                <th>Customer issue</th>
                <th>Time</th>
                <th>Status</th>
                <th>Category</th>
                <th>Solve it with AI</th>
        
                <th></th>
                <!-- Add more headers if needed -->
            </tr>
        </thead>
        <tbody class="text-center">
            {% for record in data %}
            <tr>
                <td>{{ record.ticket_content[:100] }}</td>
                <td>{{ record.timestamp.date() }}</td>
                <td>{{ record.status}}</td>
                <td>Product</td>
                <th><button class="btn btn-primary"><a>Take Action</a> </button></th>
                <th><button class="btn btn-info"><a>Read</a> </button></th>
                <!-- Add more fields if needed -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock%}
